.cart-graphl-fragment-wrapper {
  max-width: 600x;
  padding: 5px 10px 5px 10px;
  background-color: honeydew;
  border: 1px solid lightslategray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}
.cart-graphl-fragment-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart-graphl-fragment-header > .description {
  flex-grow: 1;
}

.cart-graphl-fragment-header > .more-less {
  width: 20px;
  cursor: pointer;
  text-align: right;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}